footer {
    padding: 40px 0 40px 0;
    background-color: #404040;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
    }
}